[Desktop Entry]
Encoding=UTF-8
Name=Power supplies
Exec=powersupplies
Icon=powersupplies.xpm
Comment=Power supply calculator
Comment[hu]=Tápegység méretezés
Type=Application
Categories=Application;Electronics;
Terminal=false
StartupNotify=true

